In [1]:
import pandas as pd
import numpy as np
import py7zr
import json
import matplotlib.pyplot as plt
from matplotlib.animation import FuncAnimation

In [4]:
with open("data/json/0021500622.json", "r") as f:
    data = json.load(f)

In [5]:
data['events'][0]['home']

{'name': 'Cleveland Cavaliers',
 'teamid': 1610612739,
 'abbreviation': 'CLE',
 'players': [{'lastname': 'Love',
   'firstname': 'Kevin',
   'playerid': 201567,
   'jersey': '0',
   'position': 'F'},
  {'lastname': 'Jones',
   'firstname': 'James',
   'playerid': 2592,
   'jersey': '1',
   'position': 'G-F'},
  {'lastname': 'Irving',
   'firstname': 'Kyrie',
   'playerid': 202681,
   'jersey': '2',
   'position': 'G'},
  {'lastname': 'Shumpert',
   'firstname': 'Iman',
   'playerid': 202697,
   'jersey': '4',
   'position': 'G'},
  {'lastname': 'Smith',
   'firstname': 'J.R.',
   'playerid': 2747,
   'jersey': '5',
   'position': 'G-F'},
  {'lastname': 'Dellavedova',
   'firstname': 'Matthew',
   'playerid': 203521,
   'jersey': '8',
   'position': 'G'},
  {'lastname': 'Cunningham',
   'firstname': 'Jared',
   'playerid': 203099,
   'jersey': '9',
   'position': 'G'},
  {'lastname': 'Thompson',
   'firstname': 'Tristan',
   'playerid': 202684,
   'jersey': '13',
   'position': 'C-F'},
  {'lastname': 'Varejao',
   'firstname': 'Anderson',
   'playerid': 2760,
   'jersey': '17',
   'position': 'F'},
  {'lastname': 'Mozgov',
   'firstname': 'Timofey',
   'playerid': 202389,
   'jersey': '20',
   'position': 'C'},
  {'lastname': 'James',
   'firstname': 'LeBron',
   'playerid': 2544,
   'jersey': '23',
   'position': 'F'},
  {'lastname': 'Jefferson',
   'firstname': 'Richard',
   'playerid': 2210,
   'jersey': '24',
   'position': 'F'},
  {'lastname': 'Williams',
   'firstname': 'Mo',
   'playerid': 2590,
   'jersey': '52',
   'position': 'G'}]}

In [13]:
all_rows = []

for moment in data['events'][0]['moments']:  # unpack the list

    quarter = moment[0]
    timestamp = moment[1]
    game_clock = moment[2]
    shot_clock = moment[3]

    objects = moment[5]
    if len(objects) < 2:
        continue  # skip empty moments

    # first object = ball
    ball = objects[0]
    ball_x, ball_y, ball_z = ball[2], ball[3], ball[4]

    # remaining objects = players
    for p in objects[1:]:
        team_id, player_id, x, y, z = p
        all_rows.append({
            "gameid": data.get('gameid'),
            "quarter": quarter,
            "timestamp": timestamp,
            "game_clock": game_clock,
            "shot_clock": shot_clock,
            "team_id": team_id,
            "player_id": player_id,
            "x": x,
            "y": y,
            "z": z,
            "ball_x": ball_x,
            "ball_y": ball_y,
            "ball_z": ball_z,
            'event_id': 1  # since we're only using the first event
        })

# Convert to DataFrame
df = pd.DataFrame(all_rows)
df.head()

,gameid,quarter,timestamp,game_clock,shot_clock,team_id,player_id,x,y,z,ball_x,ball_y,ball_z,event_id
0,0021500622,1,1453165380026,623.59,15.99,1610612739,2544,6.44329,22.26184,0.0,28.64068,45.40327,3.54135,1
1,0021500622,1,1453165380026,623.59,15.99,1610612739,2747,17.45534,4.23261,0.0,28.64068,45.40327,3.54135,1
2,0021500622,1,1453165380026,623.59,15.99,1610612739,201567,7.51449,16.49044,0.0,28.64068,45.40327,3.54135,1
3,0021500622,1,1453165380026,623.59,15.99,1610612739,202681,27.87412,45.48980,0.0,28.64068,45.40327,3.54135,1
4,0021500622,1,1453165380026,623.59,15.99,1610612739,202389,20.61859,22.83587,0.0,28.64068,45.40327,3.54135,1